
body{
    font-family: 'Open Sans', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    border: #bdc3c7 10px solid;
    padding: 15px;
}

.botones{
    overflow: hidden;
}

.botones a{
    float: left;
    text-align: center; 
    width: 25%;
    text-decoration: none;
    color: black;
    background-color: #bdc3c7;
    padding: 15px 0px; 
}

.botones a:hover{
    background-color: black;
    color: white;
}

h1{
    color: #3498bd;
    margin-top: 0;
}

h2{
    margin-top: 10px;
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 0%;
}

p{
    margin-top: 0%;
}

div:nth-of-type(1) p:nth-of-type(1){
    padding-left: 5px;
    border-left: #bdc3c7 5px solid;
}

.wrapper
{
	padding-bottom: 30px;
}

.divider
{
	position: relative;
	margin-top: 35px;
	height: 1px;
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
	background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
